<a href="https://colab.research.google.com/github/OmkarSolat/Data-Science-in-DevTown/blob/main/DAY16.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#DATABASE with Python

Creating Database

In [ ]:
import sqlite3 as sq

In [ ]:
database = sq.connect("test.db")
print("Database Successfuly created!")

Database Successfuly created!

Performing Queries

In [ ]:
database.execute('''CREATE TABLE table_name(
    Name char(100),
    Age int
);
''')

print("Table created")

Table created

Creating Table

In [ ]:
database.execute("CREATE TABLE Student(Name char(100),Age int);")

print("Student Table created")

Student Table created

Inserting Data

In [ ]:
database.execute("INSERT INTO Student VALUES('Omkar',21);")
database.execute("INSERT INTO Student VALUES('Sahil',22);")
database.execute("INSERT INTO Student VALUES('Arif',20);")

print("Data has been inserted !!!")

Data has been inserted !!!

Showing Data

In [ ]:
data = database.execute("SELECT * FROM Student")

In [ ]:
for i in data:
  print(i)

('Omkar', 21)
('Sahil', 22)
('Arif', 20)